extends layout



block content
    div.modal.modal-dialog.modal-sm.fade(id="addRonde")
        .modal-content
            .modal-header
                button(type="button", class="close", data-dismiss="modal") x
                h3 Plannifier une ronde
            .modal-body
                form#addForm.form-signin(action="/planRonde", method="post")
                    input.form-control(type="text", name="ronde", placeholder="Ronde", required)
                    input.form-control(type="date", name="date", placeholder="Date", required)
                    div.form-group(style='text-align:center;')
                        button.btn.btn-large.btn-primary(type="submit")
                            span.glyphicon.glyphicon-ok-circle
                        button.btn.btn-large.btn-danger(data-dismiss="modal")
                            span.glyphicon.glyphicon-remove-circle
            .modal-footer

    div.modal.modal-dialog.modal-sm.fade(id="removePlannedRonde")
        .modal-content
            .modal-header
                button(type="button", class="close", data-dismiss="modal") x
                h3 Supprimer une plannification de ronde
            .modal-body(style='text-align:center;')
                button.btn.btn-danger.delete(type="button", data-radio-name="radio")
                    span.glyphicon.glyphicon-ok
                button.btn.btn-primary.active(type="button",data-radio-name="radio", data-dismiss="modal")
                    span.glyphicon.glyphicon-remove
            .modal-footer

    .panel.panel-primary
        .panel-heading #{title}&nbsp;&nbsp;
            button.btn.btn-success.btn-sm(data-toggle="modal", href="#addRonde")
                span.glyphicon.glyphicon-plus
        table.table.table-striped.table-bordered
            thead
                th.col-md-3 id de la ronde
                th.col-md-3 date de la ronde
                th.col-md-3 Etat
                th.col-md-3 Action
            tbody
                each ronde in data
                    tr
                        td #{ronde.id_ronde}
                        td #{ronde.date_ronde}
                        td #{ronde.state}
                        td
                            button.btn.btn-danger.btn-sm(data-toggle="modal", href="#removePlannedRonde", data-id="#{ronde.id_ronde_x_date}", data-date="#{ronde.date_ronde}")
                                span.glyphicon.glyphicon-minus
                unless err
                    p #{error}

    a(href='/gardes') Aller à la gestion des gardes