extends layout

block content
    div.modal.modal-dialog.modal-sm.fade(id="planRonde")
        .modal-content
            .modal-header
                button(type="button", class="close", data-dismiss="modal") x
                h3 Plannifier une ronde
            .modal-body
                form#addForm.form-signin(action="/planRonde", method="post")
                    input.form-control(type="hidden", name="idRonde", required)
                    input.form-control(type="date", name="date", placeholder="Date", required)
                    div.form-group(style='text-align:center;')
                        button.btn.btn-large.btn-primary(type="submit")
                            span.glyphicon.glyphicon-ok-circle
                        button.btn.btn-large.btn-danger(data-dismiss="modal")
                            span.glyphicon.glyphicon-remove-circle
            .modal-footer

    div.modal.modal-dialog.modal-sm.fade(id="removePlannedRonde")
        .modal-content
            .modal-header
                button(type="button", class="close", data-dismiss="modal") x
                h3 Supprimer une plannification de ronde
            .modal-body(style='text-align:center;')
                button.btn.btn-danger.delete(type="button", data-radio-name="radio")
                    span.glyphicon.glyphicon-ok
                button.btn.btn-primary.active(type="button",data-radio-name="radio", data-dismiss="modal")
                    span.glyphicon.glyphicon-remove
            .modal-footer

    h2 Gestion des rondes

    .panel.panel-primary
        .panel-heading Rondes&nbsp;&nbsp;
        table.table.table-striped.table-bordered
            thead
                th.col-md-3 Nom de la ronde
                th.col-md-3 Nom du garde
                th.col-md-3 Action
            tbody
                each ronde in rondes
                    tr
                        td #{ronde.nom_ronde}
                        td #{ronde.nom_garde}
                        td
                            button.btn.btn-success.btn-sm(data-toggle="modal", href="#planRonde", data-id="#{ronde.id_ronde}")
                                span.glyphicon.glyphicon-plus
                                span &nbsp;Planifier
                unless err
                    p #{error}

    .panel.panel-primary
        .panel-heading #{title}&nbsp;&nbsp;
        table.table.table-striped.table-bordered
            thead
                th.col-md-3 Nom de la ronde
                th.col-md-3 Date de la ronde
                th.col-md-3 Etat
                th.col-md-3 Action
            tbody
                each plannedRonde in plannedRondes
                    tr
                        td #{plannedRonde.nom_ronde}
                        td #{plannedRonde.date_ronde}
                        td
                            if plannedRonde.state=="OK"
                                span.label.label-success #{plannedRonde.state}
                            else
                                span.label.label-primary #{plannedRonde.state}
                        td
                            button.btn.btn-danger.btn-sm(data-toggle="modal", href="#removePlannedRonde", data-id="#{plannedRonde.id_ronde_x_date}", data-date="#{plannedRonde.date_ronde}")
                                span.glyphicon.glyphicon-minus
                unless err
                    p #{error}

    a(href='/gardes') Aller à la gestion des gardes